@model List<EditorDemo.Models.Package>

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h2>@item.NameAz</h2>
            <p>@item.DescriptionAz</p>
        </div>
    }

</div>